# II. Basic data structures

Julia has many of the common data structures found in other programming languages and we'll cover a few of these in this notebook: arrays, tuples, named tuples, dictionaries, and sets.

### Arrays:

In Julia an __array__ is a collection of elements and can be created using [ ]. 

**Indexing in Julia starts at 1**. In Julia you use bracket notation, i.e. **[ ]**, to index into arrays (as well as other objects).

Here we create an array of strings:

In [1]:
acc = [ "unc", "duke", "ncstate", "virginia", "wake forest" ]

5-element Array{String,1}:
 "unc"
 "duke"
 "ncstate"
 "virginia"
 "wake forest"

You can create an array of numbers as well using similar syntax.

In [2]:
numarray = [ 1.2, 3, 4, 2.8, 20.4 ]  #a column vector

5-element Array{Float64,1}:
  1.2
  3.0
  4.0
  2.8
 20.4

Arrays can be of mixed data types:

In [3]:
mixedarray = [ "this", 43, "has", "different", 99, 4.3, "types" ] #like a Python list

7-element Array{Any,1}:
   "this"
 43
   "has"
   "different"
 99
  4.3
   "types"

Note that Julia determines the array type to be as specific as it can. In the last example, due to the combination of string and numeric types, it assigned the broadest type definition possible __Any__.

Arrays are *mutable*, i.e. they can be modified, though sometimes you can run into unexpected problems when attempting to modify the elements of an array. More on this later.

In [4]:
numarray[ 1 ]

1.2

In [5]:
numarray[ 1 ] = 9.8

9.8

In [6]:
numarray

5-element Array{Float64,1}:
  9.8
  3.0
  4.0
  2.8
 20.4

So far we've looked at one dimensional arrays. One dimensional arrays in Julia are flat. Multidimensional arrays are also possible:

In [7]:
mdarray1= [ 11 14 19 ]

1×3 Array{Int64,2}:
 11  14  19

In [8]:
mdarray2 = [ 21 32 43;54 65 76 ]

2×3 Array{Int64,2}:
 21  32  43
 54  65  76

### Tuples and Named Tuples:

The next data structure we'll consider are __tuples__. Unlike arrays, tuples can not be modified, i.e. they are *immutable*. 

Tuples are collections of elements denoted by ( ).

In [9]:
nba = ( "hornets", "lakers", "warriors", "celtics" )

("hornets", "lakers", "warriors", "celtics")

In [10]:
tupofnum = ( 1, 4, 88, 2.2 )

(1, 4, 88, 2.2)

In [11]:
mixedtup = ( 1.2, 3, "tuple", 344, "mixed", 45, 0.9, "up", 123, "example", 44 )

(1.2, 3, "tuple", 344, "mixed", 45, 0.9, "up", 123, "example", 44)

For tuples, `typeof` returns the type of each individual element in the tuple.

In [12]:
typeof( mixedtup )

Tuple{Float64,Int64,String,Int64,String,Int64,Float64,String,Int64,String,Int64}

You can create a tuple of tuples:

In [13]:
mytuples = ( ( 22, 3.2 ," first" ), ( 89, "second", 76.3 ) )

((22, 3.2, " first"), (89, "second", 76.3))

You can index into a tuple to retrieve elements of it. Let's retrieve the element "hornets" from **nba**.

In [14]:
nba[ 1 ]

"hornets"

Now we'll get the first three elements from **tupofnum** using the ":" syntax:

In [15]:
tupofnum[ 1:3 ]

(1, 4, 88)

The following retrieves a discrete set of elements from __mixedtup__:

In [16]:
mixedtup[ [ 1, 3:5, 8:11 ] ]

(1.2, ("tuple", 344, "mixed"), ("up", 123, "example", 44))

Note the 3:5 and 8:11 returned tuples. If you wanted to flatten this out you can use the splat operator "...":

In [17]:
mixedtup[ [ 1, 3:5..., 8:11...] ]

(1.2, "tuple", 344, "mixed", "up", 123, "example", 44)

As mentioned before, tuples are *immutable* which means they can not be modified:

In [18]:
nba[ 1 ] = "hawks"

MethodError: MethodError: no method matching setindex!(::NTuple{4,String}, ::String, ::Int64)

If you need to find the number of elements in a tuple use the __length__ function:

In [19]:
length( nba )

4

Named tuples are like tuples except each element of the tuple is accessed with an arbitrary name instead of a numeric index.

In [20]:
tuple_named = ( word = "learning", number = 4//3, c = 80, imagnumber = 3 + 4im )

(word = "learning", number = 4//3, c = 80, imagnumber = 3 + 4im)

To access an element in a named tuple you can use dot notation with the name of the element. For example, 3+4im has the name __imagnumber__:

In [21]:
tuple_named.imagnumber

3 + 4im

To get the names in a named tuple you can use the `keys` command.

In [22]:
keys( tuple_named )

(:word, :number, :c, :imagnumber)

Note the names in a named tuple are of type __Symbol__ which is why you see a ":" before the name in the above output.

To get the values you can use the `values` command:

In [23]:
values( tuple_named )

("learning", 4//3, 80, 3 + 4im)

### Dictionaries:

The final data structure we'll be looking at is __dictionaries__. These are collections of key-value pairs denoted using `Dict( )` and the elements are separated by a comma.

In [24]:
capitals = Dict( "north carolina" => "raleigh", "new york" => "albany", "pennsylvania" => "harrisburg", 
                 "washington" => "olympia", "california" => "sacremento" )

Dict{String,String} with 5 entries:
  "new york"       => "albany"
  "pennsylvania"   => "harrisburg"
  "washington"     => "olympia"
  "north carolina" => "raleigh"
  "california"     => "sacremento"

There is no notion of ordering in a dictionary. Note that the key-value pairs are not returned in the order in which they were inserted into dictionary originally.

In [25]:
typeof( capitals )

Dict{String,String}

You can use [ ] notation to retrieve the value for a specified key. The key "north carolina" has the value "raleigh":

In [26]:
capitals[ "north carolina" ]

"raleigh"

You add a new key-value pair to the dictionary via the usual assignment operator. Here we are adding a new pair with key "virginia" and value "richmond."

In [27]:
capitals[ "virginia" ] = "richmond"

"richmond"

In [28]:
capitals

Dict{String,String} with 6 entries:
  "new york"       => "albany"
  "pennsylvania"   => "harrisburg"
  "virginia"       => "richmond"
  "washington"     => "olympia"
  "north carolina" => "raleigh"
  "california"     => "sacremento"

You can reassign the value of a key in a key-value pair:

In [29]:
capitals[ "california" ] = "san francisco"

"san francisco"

If you want to remove a key-value pair you can use the `pop` function:

In [30]:
pop!( capitals,"virginia" );

In [31]:
capitals

Dict{String,String} with 5 entries:
  "new york"       => "albany"
  "pennsylvania"   => "harrisburg"
  "washington"     => "olympia"
  "north carolina" => "raleigh"
  "california"     => "san francisco"

To list out the keys in a dictionary use the `keys` command:

In [32]:
keys( capitals )

Base.KeySet for a Dict{String,String} with 5 entries. Keys:
  "new york"
  "pennsylvania"
  "washington"
  "north carolina"
  "california"

To get the values:

In [33]:
values( capitals )

Base.ValueIterator for a Dict{String,String} with 5 entries. Values:
  "albany"
  "harrisburg"
  "olympia"
  "raleigh"
  "san francisco"

In a dictionary, you **can not** have two key-value pairs with the same key. To check if a key exists in a dictionary you can use `haskey`:

In [34]:
haskey( capitals,"virginia" )

false

To check for the existence of a specific key-value pair:

In [35]:
in( "north carolina" => "raleigh", capitals )

true

### Sets:

Sets are also collections of elements but are unordered and the elements are unique. Setsa are mutable. You create a set using the `Set` constructor.

In [36]:
A = Set([ 1, 2, 3, 4, 5, 6 ]); B = ([ 4, 5, 6, 7, 8, 9 ]); #create two sets A and B

Julia has built-in functions to do basic set operations: `union`, `intersect`, and `setdiff`.

In [37]:
show( union( A, B ) )

Set([7, 4, 9, 2, 3, 5, 8, 6, 1])

In [38]:
show( intersect( A, B ))

Set([4, 5, 6])

In [39]:
show( setdiff( A, B ) ) #returns the elements of A that are not in B

Set([2, 3, 1])

# Exercise 2
* Create a tuple called mytuple with the numbers 1.1, 45, 93, 18, and the strings "austin" and "texas".
* Find the length of mytuple.
* Retreive the second and fourth elements and assign it to a new tuple called newtup.

In this lesson we covered:
* Essential data structures: arrays, tuples, dictionaries, sets.
* Basic tuple and dictionary operations